{require_min_otp_vsn, "R15"}.

{deps, [{otpbp, "^0\\.(19\\.[1-9]|([2-9][0-9]))", % 0.19.1 .. 0.99
                {git, "ssh://git@gitlab.favorit/erlang/otpbp", {branch, "master"}}}]}.


{erl_opts, [debug_info]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
